apiVersion: v1
kind: ConfigMap
metadata:
  name: infra-config
data:
  # RabbitMQ
  RABBITMQ_HOST: "rabbitmq"
  RABBITMQ_PORT: "5672"
  RABBITMQ_MANAGEMENT_PORT: "15672"
  # Loki
  LOKI_URL: "http://loki.default.svc.cluster.local:3100/loki/api/v1/push"
  # Tempo
  MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: "http://tempo.default.svc.cluster.local:9411"
  # User service
  USER_SERVICE_URL: "http://user-service.default.svc.cluster.local:8080"
  # Booking Service
  BOOKING_SERVICE_URL: "http://booking-service.default.svc.cluster.local:8081"
  # API-Gateway Service
  GATEWAY_SERVICE_URL: "http://gateway-service.default.svc.cluster.local:9000"
  # Keycloak
  KEYCLOAK_DB_NAME: "keycloak-db"
  # Internal service pods (Gateway, User, etc.) can use http://auth.dashboard.com for issuer-uri and jwk-set-uri
  # because I updated the CoreDNS in Minikube which resolves auth.dashboard.com to the keycloak-service ClusterIP.
  KEYCLOAK_JWT_ISSUER_URI: "http://auth.dashboard.com/realms/bookme-realm"
  KEYCLOAK_JWK_SET_URI: "http://auth.dashboard.com/realms/bookme-realm/protocol/openid-connect/certs"
  # Keycloak config supposed to be used in the frontend dashboard app
  KEYCLOAK_REALM: "bookme-realm"
  KEYCLOAK_CLIENT_ID: "bookme-dashboard"
  KEYCLOAK_HOSTNAME: "auth.dashboard.com"
